body{
	animation: RAINBOW 17s infinite;
	-webkit-animation: RAINBOW 17s infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function:linear;
		
}
@-webkit-keyframes RAINBOW {
	0% {background-color: #E00003;}
	8% {background-color: #ff9600;}
	25% {background-color: #ffff00;}
	42% {background-color: #00ff00;}
	58% {background-color: #00ffff;}
	75% {background-color: #0000ff;}
	92% {background-color: #ff00ff;}
	100% {background-color: #E00003}
}
@keyframes RAINBOW {
	0% {background-color: #E00003;}
	8% {background-color: #ff9600;}
	25% {background-color: #ffff00;}
	42% {background-color: #00ff00;}
	58% {background-color: #00ffff;}
	75% {background-color: #0000ff;}
	92% {background-color: #ff00ff;}
	100% {background-color: #E00003}
}	
	h1{
		color: orange;
		text-align: center;
		font: 15px 'Dosis', sans-serif;
		font-size: 100px;
		font-weight: lighter;
		position: fixed;
		width: 100%;
		top:50%;
		
	}

.header{
	color:orange;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:100px;
	display:table-cell;
	vertical-align:middle;
	height:60vh;
	width:100vw;
	font-weight: bold;
}
.collections{
	text-decoration:none;
	text-align: center;
	color:orange;
	font-family: 'Dosis', sans-serif;
	font-size: 70px;
	vertical-align: middle;
	display:block;
	max-height:100vh;
	height:40vh;
	width:97vw;
}