body{
		background-color: #5A6EFE;
		height: 100%;
		width: 100%;
		
	}
	
	h1{
		color: orange;
		text-align: center;
		font: 15px 'Dosis', sans-serif;
		font-size: 100px;
		font-weight: lighter;
		position: fixed;
		width: 100%;
		top:50%;
		
	}
	
span{
		color: orange;
		text-align: center;
		font: 15px 'Dosis', sans-serif;
		font-size: 100px;
		font-weight: lighter;
		position: fixed;
		width: 100%;
		top:50%;
		
	}
	

div.header{
	color:orange;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:100px;
	max-height:100vh;
	display:table-cell;
	vertical-align:middle;
	height:100vh;
	margin-left:auto;
	margin-right:auto;
	width:100vw;
}

