body{
	animation: RAINBOW 20s infinite;
	-webkit-animation: RAINBOW 20s infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function:linear;
	
	min-height: 100vh;	
}
@-webkit-keyframes RAINBOW {
	0% {background-color: #FF7F7F;} 
	10% { background-color: #FC3636; }
    20% { background-color: #FF0000; }
    30% { background-color: #FF7F00; }
    40% { background-color: #FFFF00; }
    50% { background-color: #00FF00; }
    60% { background-color: #0000FF; }
    70% { background-color: #4B0082; }
    80% { background-color: #8B00FF; }
    90% { background-color: #C37FFF; }
    100% { background-color: #FF7F7F; }
}
@keyframes RAINBOW {
	0% {background-color: #FF7F7F;} 
	10% { background-color: #FC3636; }
    20% { background-color: #FF0000; }
    30% { background-color: #FF7F00; }
    40% { background-color: #FFFF00; }
    50% { background-color: #00FF00; }
    60% { background-color: #0000FF; }
    70% { background-color: #4B0082; }
    80% { background-color: #8B00FF; }
    90% { background-color: #C37FFF; }
    100% { background-color:#FF7F7F; }
}	
	h1{
		color: orange;
		text-align: center;
		font: 15px 'Dosis', sans-serif;
		font-size: 100px;
		font-weight: lighter;
		position: fixed;
		width: 100%;
		top:50%;
		
	}
span{
		color: orange;
		text-align: center;
		font: 15px 'Dosis', sans-serif;
		font-size: 100px;
		font-weight: lighter;
		position: fixed;
		width: 100%;
		top:50%;
		
	}
div.header{
	color:orange;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	font-size:100px;
	max-height:100vh;
	display:table-cell;
	vertical-align:middle;
	height:100vh;
	margin-left:auto;
	margin-right:auto;
	width:100vw;
}