
.list,.wrapper{position:relative}

body{
	font-size: 2.5em;
	background-color: #EADBCF;
	height: 100%;
}.wrapper{
	width:60%;
	margin:auto;
	margin-top: 0.67em;
}

ul{
	list-style: none;	
	padding:04;
}

div.header{
	font-family: "Raleway", "Dosis", sans-sarif;
	color:#6AB2FF;
	margin:.67em 0;
	font-size: 2em;
	font-weight: bold;
}

h1{
	font-family: "Raleway", "Dosis", sans-sarif;
	color:#6AB2FF;
	text-align:center;
	max-height:100vh;
	display:table-cell;
	vertical-align:middle;
	height:10vh;
	margin-left:auto;
	margin-right:auto;
	width:100vw;
}

div{
	font-family: "Dosis", sans-sarif;
	color: red;
}

a{
	text-decoration: none;
	outline: 0;
	color: #A09C85;
	width: 7.2em;
	display: block;
	cursor:default
	
}
input[type=text], select, textarea{
	width:100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit]{
	background-color:darkblue;
	color:white;
	padding: 12px 20px;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: red;
}
.container{
	border-radius:5px;
	background-color: #EADBCF;
}
span:hover{
	color:#FF895D;
	animation: opac 0.5s
}@keyframes opac{from{color:#A09C85} to{color:#FF895D}}


span{
	font-family:"Dosis", sans-sarif; font-weight:normal;
}
.cursor{
	width:1em;
	height:1em;
	background-color:#FF895D;
	position:absolute;
}
.cursor._header{height:2em;
	top:.15em;
	left:-2em;
}
	