.img,.img img,.list,.wrapper{position:relative}

body,html{height:100%}
body{font-size:2.5em;
	background-color:#EADBCF
}.wrapper{width:60%;margin:auto; margin-top: 0.67em;}.list

ul{
	list-style: none;
	
	padding:04

}.img{margin-top:1.5em}.img

img{
	width:4em
}.cursor,.icon{position:absolute}

h1{
	font-family: "Raleway", "Dosis", sans-sarif;
	
	color:#6AB2FF
}



a{
	text-decoration: none;
	outline: 0;
	color: #A09C85;
	width: 7.2em;
	display: block;
	cursor:default
	
}


span:hover{
	
	color:#FF895D;
	animation: opac 0.5s
}@keyframes opac{from{color:#A09C85} to{color:#FF895D}}


span{font-family:"Dosis", sans-sarif; font-weight:normal;}.icon{margin-top:.15em}.cursor{display:inline-block;-webkit-transition:.2s top ease-out,.2s left ease-out,.2s height ease-out;transition:.2s top ease-out,.2s left ease-out,.2s height ease-out;left:-1.4em;top:.9em;width:1em;height:1em;background-color:#FF895D}.cursor._header{height:2em;top:.15em;left:-2em}